.main-header {
    background-color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0px 4px 11.3px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
}

.user-profile:hover {
    background-color: #F8F9FA;
}

.user-name {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-main);
    margin-bottom: -4px;
}

.user-role {
    font-size: 10px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 6px 8px;
    border-radius: 10px;
    text-transform: uppercase;
}

.avatar-container {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: var(--primary-bg);
    border: 1px solid #E1E8EF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.chevron {
    color: var(--primary-color);
}